@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Student"
       asp-action="Index"
       class="btn btn-primary">
        Student Details
    </a>
</div>
